[submodule "components/LovyanGFX"]
	path = code/components/LovyanGFX
	url = https://github.com/fortcollinscreatorhub/mirror-LovyanGFX.git
[submodule "code/components/fcch_connmgr"]
	path = code/components/fcch_connmgr
	url = https://github.com/fortcollinscreatorhub/fcch_connmgr-esp-idf.git
